<!DOCTYPE html>
<html lang="en" ng-app="taskApp">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
	}
	</style>
	<script src="angular.js"></script>
	<script>

	var taskApp = angular.module("taskApp", []);

	function TaskStorage(){
		this.storage = window.localStorage
	};
	TaskStorage.prototype.save = function(task){
		var taskAsString = window.JSON.stringify(task);
		this.storage.setItem(task.id, taskAsString);
	};
	TaskStorage.prototype.remove = function(task){
		this.storage.removeItem(task.id);	
	};
	TaskStorage.prototype.getAll = function(){
		var result = [];
		for(i=0;i<this.storage.length;i++){
			var key = this.storage.key(i);
			var taskAsString = this.storage.getItem(key);
			var taskObj = window.JSON.parse(taskAsString);
			result.push(new Task(taskObj));
		}
		return result;
	}
	
	//=========================================================
	function Task(defaults){
		this.id = defaults.id || new Date().getTime().toString();
		this.name = defaults.name || "";
		this.isCompleted = defaults.isCompleted || false;
	}

	Task.prototype.toggle = function(){
		this.isCompleted = !this.isCompleted;
	}

	//=========================================================
	taskApp.controller("taskController", function ($scope){
		var taskStorage = new TaskStorage();
		$scope.taskList = taskStorage.getAll();

		$scope.addTask = function(taskName){
			var task = new Task({name : taskName});
			taskStorage.save(task);
			$scope.taskList.push(task);
			$scope.message = "A new task is added";
		};
		$scope.toggle = function(task){
			task.toggle();
			taskStorage.save(task);
		};
		$scope.removeCompleted = function(){
			for(var i=$scope.taskList.length-1;i>=0;i--)
				if ($scope.taskList[i].isCompleted){
					$scope.taskList.splice(i,1);
					taskStorage.remove(task);
				}
			$scope.message = "Zero or more completed tasks are removed";
		};
		$scope.getCompletedCount = function(){
			var count = 0;
			for(var i=0;i<$scope.taskList.length;i++)
				if ($scope.taskList[i].isCompleted)
					++count;
			return count;
		};

	});
	
	</script>


</head>
<body data-ng-controller="taskController">
	<h1>Task Manager {{getCompletedCount()}}/{{taskList.length}}</h1>
	<hr>
	<label for="">Task :</label>
	<input type="text" name="" id="" data-ng-model="newTask">
	<input type="button" value="Add Task" id="btnAddTask" data-ng-click="addTask(newTask)">
	<input type="button" value="Remove Completed" id="btnRemoveCompleted" data-ng-click="removeCompleted()">
	<ol>
		<li 
			ng-repeat="item in taskList" 
			data-ng-class="{completed : item.isCompleted}"
			data-ng-click="toggle(item)"
		>{{item.name}}</li>
	</ol>
	<div>{{message}}</div>
</body>
</html>