<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed{
		color : red;
		text-decoration: line-through;
		font-style: italic;
	}
	</style>
	<script src="angular.js"></script>
	<script>
	/*
	1. Display the number of tasks / completed tasks in the UI
	2. Diplay the following message
		"A new task is added" - whenever a new task is added
		"# no of completed tasks are removed" - whenever the completed tasks are removed
	*/
	function taskController($scope){
		
		$scope.taskList = [
			{name : "Master JavaScript", isCompleted : false}, 
			{name : "Explore Angular.js", isCompleted : true}, 
			{name : "Practice jQuery", isCompleted : false}
		];
		$scope.addTask = function(taskName){
			$scope.taskList.push({name : taskName, isCompleted : false});
		};
		$scope.toggle = function(task){
			task.isCompleted = !task.isCompleted;
		};
		$scope.removeCompleted = function(){
			for(var i=$scope.taskList.length-1;i>=0;i--)
				if ($scope.taskList[i].isCompleted)
					$scope.taskList.splice(i,1);
		}
	}
	</script>


</head>
<body data-ng-controller="taskController">
	<h1>Task Manager [Total # of completed tasks]/[Total # of tasks]</h1>
	<hr>
	<label for="">Task :</label>
	<input type="text" name="" id="" data-ng-model="newTask">
	<input type="button" value="Add Task" id="btnAddTask" data-ng-click="addTask(newTask)">
	<input type="button" value="Remove Completed" id="btnRemoveCompleted" data-ng-click="removeCompleted()">
	<ol>
		<li 
			ng-repeat="item in taskList" 
			data-ng-class="{completed : item.isCompleted}"
			data-ng-click="toggle(item)"
		>{{item.name}}</li>
	</ol>
	<div>[Dispaly a message]</div>
</body>
</html>